/* WINDOWS SCROLLBARS */
.no-error, .no-fallback {
	display: none;
}

body.windows::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

body.windows::-webkit-scrollbar-track {
    border: 0;
    background-color: transparent;
}

body.windows::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgb(242, 242, 242, 0.3);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-radius: 12px;
    min-height: 33px;
}

body.windows::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background-color: rgba(242, 242, 242, 0.5);
    border-left-width: 3px;
    border-right-width: 3px;
}

body.windows::-webkit-scrollbar-button,
body.windows::-webkit-scrollbar-track-piece,
body.windows::-webkit-scrollbar-corner,
body.windows::-webkit-resizer {
    display: none;
}

/* CONTAINERS */

.container {
    position: absolute;
    background: #2c2b2e;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/* FORM */

.main-form legend.prompt-legend {
    margin-bottom: 15px;
}

.main-form legend.centered {
    display: flex;
    align-items: center;
}

/* COMMONS */

.padlock-tooltip {
    left: -248px;
    top: 10px;
    height: 68px;
    width: 256px;
}

.padlock-icon-container {
    position: relative;
    cursor: pointer;
}

.padlock-icon-container:hover .padlock-tooltip {
    visibility: visible;
}

#step-1-username {
	margin-right: 27px; /*19+4+4. We need to match the show password button*/
}

.password-forgot-holder {
	display:flex; 
	flex-direction:row;
}

.password-tooltip {
	left: -100px;
	top: 25px;
	height: 35px;
	width: 118px;
	position: relative;
}

.show-password {
	background: url('../../../commonWeb/img/icon-show.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 19px;
	margin: 0px 4px;
	cursor: pointer;
}

.show-password:hover .password-tooltip {
    visibility: visible;
}

.gog-link, .gog-link:visited, .gog-link:active {
	color: #a380d1;
}

.note {
    display: flex;
    color: rgba(242, 242, 242, 0.4);
    font-size: 13px;
    margin-top: 20px;
    line-height: 20px;
}

.note:before {
    content: 'i';
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(242, 242, 242);
    font-weight: 600;
    font-size: 10px;
    min-height: 15px;
    min-width: 15px;
    height: 15px;
    width: 15px;
    background: rgba(242, 242, 242, 0.1);
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 4px;
}

.read-more, .read-more:visited, .read-more:active {
    display: inline;
    color: rgba(242, 242, 242, 0.4);
}

.read-more:hover {
    color: rgba(242, 242, 242, 0.7);
    transition: color .2s ease;
}

.warning {
    color: rgb(255, 184, 60);
    font-size: 14px;
    font-weight: 600;
}

.prompt-text {
    font-size: 13px;
    line-height: 20px;
    color: rgb(242, 242, 242);
}

.prompt-text:not(:last-child) {
    padding-bottom: 20px;
}

.learn-how, .learn-how:visited, .learn-how:active {
    color: rgb(242, 242, 242);
}

/* INPUTS */

.steam-guard-input {
    height: 50px;
    width: 190px;
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 40px;
}