# tools
__pycache__/
.pytest_cache/
*.spec
.idea/
.vscode/
.mypy_cache/
.venv

# dev
build/
output/
*.log
*.log.[1-9]
/.vs
/env
*.user
/env1
/protobuf_files/orig/.gitattributes
/protobuf_files/orig/.gitignore
/protobuf_files/orig/LICENSE
/protobuf_files/orig/README.md
/src/steam_network/protocol/messages/steammessages_chat/steamclient_pb2.py
/src/steam_network/protocol/messages/steammessages_player/steamclient_pb2.py
